::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #f1f1ff;}
::-webkit-scrollbar-track:hover {background: #D1D1DD;}
::-webkit-scrollbar-thumb {background: #666;}
::-webkit-scrollbar-thumb:hover {background: #444;}
* {
    padding: 0;
    margin: 0;
    font-family: 'Bree Serif', sans-serif;
}
html {
    scroll-behavior: smooth;
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 150px;
    height: 100%;
    background-color: #c7c7c7;
}
@media (max-width: 800px) {
    #navbar {
        position: relative;
        width: 100%;
        padding-bottom: 2px;
    }
}
header {
    margin: 25px 0px 5px;
    font-size: 24px;
    font-weight: bold;
}
header:not(#navbar header) {
    border-bottom: 2px solid #121212;
    width: fit-content;
    padding: 2px;
}
#navbar header {
    text-align: center;
}
@media (max-width: 800px) {
    #navbar header {
        margin: 0px;
        padding: 20px 0px 10px;
    }
}
.nav-link {
    display: block;
    width: calc(100% - 8px);
    text-decoration: none;
    text-align: center;
    padding: 5px 0px;
    margin: 4px;
    background-color: #e2e2e2;
    color: #121212;
    font-size: 18px;
    transition-duration: 0.3s;
}
.nav-link:hover {
    background-color: #121212;
    color: #e2e2e2;
}
#main-doc {
    position: relative;
    left: 175px;
    width: calc(100% - 175px);
    padding: 10px 0px 50px;
}
@media (max-width: 800px) {
    #main-doc {
        left: 15px;
        width: calc(100% - 50px);
    }
}
p {
    font-size: 1rem;
    padding: 6px 0px 2px;
}
ul, ol {
    padding: 10px 30px;
    background-color: #e2e2e2;
    width: fit-content;
}
pre {    
    position: relative;
    padding: 6px 10px;
    width: min(90%, 500px);
    background-color: #121212;
    color: #e2e2e2;
}
@media (max-width: 800px) {
    pre {
        max-width: 100%;
        overflow-x: auto;
    }
}
pre .copyText,
pre .copyIcon {
    position: absolute;
    color: #e2e2e2;
    font-size: 1.25rem;
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
pre .copyText {
    color: #D1D1DD;
    top: 0;
    right: 100px;
}
pre .copyIcon {
    top: 5px;
    right: 10px;
    cursor: pointer;
}
pre .show {
    opacity: 1;
}



